main{
    width: 320px;
    height: 500px;
    margin: auto;
    background-color: #efefefdd;
}

.nav-section{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-section div ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

.nav-section-right{
    width: 40%;
    height: 100%;
}

.nav-section-left{
    width: 60%;
}

.print-section{
    width: 95%;
    height: 80px;
    margin-bottom: 15px;
}

.print-section section{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.input-section p{
    margin: 0;
    font-size: 18px;
}


.result-section p{
    margin: 0;
    font-size: 32px;
    font-weight: bolder;
}

#buttons-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
}

#buttons-section div{
    width: 90%;
    height: 40px;
    border: 1px solid black;
    margin: 2px 2px 2px 2px;
}

#buttons-section div button{
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: white;
    cursor: pointer;
    border: 1px solid white;
}

#buttons-section div button:hover{
    background-color: #efefefdd;
}

